# Lombok can be configured to add @lombok.Generated annotations to all generated nodes where possible;
# useful for JaCoCo (which has built in support), or other style checkers and code coverage tools:
# more: https://github.com/jacoco/jacoco/pull/513
lombok.addLombokGeneratedAnnotation = true

lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
