# Generated annotations should be recognized by JaCoCo and will be ignored by code coverage (https://www.rainerhahnekamp.com/en/ignoring-lombok-code-in-jacoco/)
# https://github.com/jacoco/jacoco/pull/513
config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.var.flagUsage = ALLOW